{% extends "common/layout-home.html" %} 
{% block homeBanner %}
<div class="banner_box">
    <div class="banner_inner">
        <h2 class="slogan">网易新闻</h2>
        <p class="des">中新网8月30日电 据外媒报道，美国“通俄门”调查特别检察官米勒正将美国总统特朗普的核心圈人士锁定为调查对象。特朗普29日表示，白宫法律顾问麦克加恩（Don McGahn）很快就会离职</p>
        <a href="/login" title="gogogo" class="btn" id="gogogo">进入</a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="hp-dialog">
  <div class="hp-box">
    <form action="/user/register" method="post">
      <h1>到达</h1>
      <p class="error">{{content}}</p>
      <input type="text" name="name" placeholder="请输入用户名：solaris">
      <input type="password" name="password" placeholder="请输入密码：123456">
      <button>GoGoGo</button>
    </form>
  </div>
</div>
<div class="hp-overlay"></div>
{% endblock %}